<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.incepted.ultrafittimer">

    <application
        android:name=".UltraFitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_light">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.PresetListActivity" />
        <activity android:name=".activity.CustomizeActivity" />
        <activity android:name=".activity.TimerActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.SummaryActivity" />
        <activity android:name=".activity.SettingsActivity"/>

        <service android:name=".timer.TimerService"
            android:exported="false"/>

        <receiver android:name=".timer.TimerService$TimerActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="io.incepted.ultrafittimer.ACTION_RESUME"/>
                <action
                    android:name="io.incepted.ultrafittimer.ACTION_PAUSE"/>
                <action
                    android:name="io.incepted.ultrafittimer.ACTION_DISMISS"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>